@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif; 
}

a { 
    color: grey;
    text-decoration: grey underline;
    transition: .3s;
    overflow: hidden;
}

a:hover {
    color: rgb(85, 85, 85);
    text-decoration: rgb(85, 85, 85) underline;
    cursor: pointer;
}

body {
    background: linear-gradient(to bottom left,#cf1159,#7902f7,#059be6 );
    background-attachment: fixed;
}

.container {
    width: 100vw;
    height: 100%;
    color: white;
}

header {
    width: 100vw;
    padding: 2%;
    text-align: center;
}

header span {
    font-size: 20px;
}

.logo{
    width: 100px;
    height: 100px;
    background-image: url(images/bro.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 2%;  
    transition: .3s;
}

.logo:hover {
    transform: scale(0.96);
}

.responsive-nav {
    display: none;
}

nav {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

nav button {
    width: 200px;
    height: 50px;
    background: transparent;
    color: white;
    border-bottom: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition: .3s;
}

nav button:hover {
    background-color: white;
    color: black;
    transform:  scale(1.06, 1.06);
    cursor: pointer;
    border-bottom-color: white;
}

main {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.picture {
    border-radius: 5px;
}

article {
    width: 45vw;
    height: 530px;
    margin: 1%;
    background-color: rgb(30, 30, 30, 0.5);
    color: white;
    border-bottom: 2px solid #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
/*    padding: 2%;*/
    border-radius:20px;
    transition: .3;
    overflow-y: hidden;
    transition: .3s;  
    display: flex;
    justify-content: flex-end;
}

.clickable { 
    transition: .3s;
    cursor: pointer;
}

article h1 {
    margin-bottom: 2%;
    margin-top: 1%;
}
#tryb{
    background-image: url(foto/hq/mt/image00004.jpeg);
    background-size: 100% auto;
    background-position: top;
}
#trybtxt{
    backdrop-filter:blur(20px);
    padding: 2%;
    padding-bottom: 4%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 18%;
    transition: 0.9s;
    margin-bottom: 0;
    margin-top: auto;
}

#jbp{
    background-image: url(foto/hq/46A21EA6-E8E2-438D-AE7F-74C905F3362B%202.JPEG);
    background-size: 100% auto;
    background-position: top;
}

#jbptxt{
    backdrop-filter:blur(20px);
    padding: 2%;
    padding-bottom: 4%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 18%;
    transition: 0.9s;
    margin-bottom: 0;
    margin-top: auto;
}

#jbp:hover #jbptxt{
    height: 34%;
    
}
#tryb:hover #trybtxt{
    height:40%;
}

.picture{
    display: none;
}

/*article button {
    width: 200px;
    height: 50px;
    background-color: rgb(30, 30, 30);
    color: white;
    border-bottom: 2px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition: .3s;
}

article button:hover {
    background-color: white;
    color: black;
    transform: translate(5%, 5%);
    cursor: pointer;   
}*/

footer {
    text-align: center;
    font-size: 10px;
}

@media screen and (max-width: 1080px) {
    
    .picture{
        display: block;
        margin: 5% auto 5% auto;
        height: 20vh;
        width: auto;
    }

    main {
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }

    article {
        width: 90vw;
        height: fit-content;
        margin-bottom: 4%;
    }

    .change .line1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      
      .change .line2 {opacity: 0;}
      
      .change .line3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }

    .ham {
        display: inline-block;
        cursor: pointer;
        margin-left: 50px;
    }

    .line1, .line2, .line3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.3s;
    }

    .ham:hover {
        cursor: pointer;
    }

    nav {
        width: 100vw;
        heighT: fit-content;
        display: none;
        flex-direction: column;
        text-align: center;
    }

    nav button {
        width: 50vw;
        height: 50px;
        background: transparent;
        color: white;
        border-bottom: 2px solid #ffff21;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        margin: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        transition: .3s;
    }
    
    nav button:hover {
        background-color: white;
        color: black;
        transform: translate(5%, 5%);
        cursor: pointer;
    }
}